@import "settings/asciidoctor";

$docwidth: 1280px;

$backgorund-color: #ffffff;
$text-color: #000000;
$header-font-color: $text-color;
$toc-header-font-color: $text-color;

$aged-primary-text-color: #ffffff;
$aged-primary-text-dark-color: #ffffff;
$aged-primary-text-light-color: #ffffff;

$aged-secondary-text-color: #ffffff;
$aged-secondary-text-dark-color: #ffffff;
$aged-secondary-text-light-color: #000000;

$aged-primary-color: #212121;
$aged-primary-light-color: #484848;
$aged-primary-dark-color: #000000;

$aged-secondary-color: #1976d2;
$aged-secondary-light-color: #63a4ff;
$aged-secondary-dark-color: #004ba0;

$animation-standard-curve-timing-function: cubic-bezier(.4, 0, .2, 1) !default;

$elevation-baseline-color: black;
$elevation-umbra-opacity: .2;
$elevation-penumbra-opacity: .14;
$elevation-ambient-opacity: .12;

$elevation-umbra-map: (
  0: "0px 0px 0px 0px",
  1: "0px 2px 1px -1px",
  2: "0px 3px 1px -2px",
  3: "0px 3px 3px -2px",
  4: "0px 2px 4px -1px",
  5: "0px 3px 5px -1px",
  6: "0px 3px 5px -1px",
  7: "0px 4px 5px -2px",
  8: "0px 5px 5px -3px",
  9: "0px 5px 6px -3px",
  10: "0px 6px 6px -3px",
  11: "0px 6px 7px -4px",
  12: "0px 7px 8px -4px",
  13: "0px 7px 8px -4px",
  14: "0px 7px 9px -4px",
  15: "0px 8px 9px -5px",
  16: "0px 8px 10px -5px",
  17: "0px 8px 11px -5px",
  18: "0px 9px 11px -5px",
  19: "0px 9px 12px -6px",
  20: "0px 10px 13px -6px",
  21: "0px 10px 13px -6px",
  22: "0px 10px 14px -6px",
  23: "0px 11px 14px -7px",
  24: "0px 11px 15px -7px"
);

$elevation-penumbra-map: (
  0: "0px 0px 0px 0px",
  1: "0px 1px 1px 0px",
  2: "0px 2px 2px 0px",
  3: "0px 3px 4px 0px",
  4: "0px 4px 5px 0px",
  5: "0px 5px 8px 0px",
  6: "0px 6px 10px 0px",
  7: "0px 7px 10px 1px",
  8: "0px 8px 10px 1px",
  9: "0px 9px 12px 1px",
  10: "0px 10px 14px 1px",
  11: "0px 11px 15px 1px",
  12: "0px 12px 17px 2px",
  13: "0px 13px 19px 2px",
  14: "0px 14px 21px 2px",
  15: "0px 15px 22px 2px",
  16: "0px 16px 24px 2px",
  17: "0px 17px 26px 2px",
  18: "0px 18px 28px 2px",
  19: "0px 19px 29px 2px",
  20: "0px 20px 31px 3px",
  21: "0px 21px 33px 3px",
  22: "0px 22px 35px 3px",
  23: "0px 23px 36px 3px",
  24: "0px 24px 38px 3px"
);

$elevation-ambient-map: (
  0: "0px 0px 0px 0px",
  1: "0px 1px 3px 0px",
  2: "0px 1px 5px 0px",
  3: "0px 1px 8px 0px",
  4: "0px 1px 10px 0px",
  5: "0px 1px 14px 0px",
  6: "0px 1px 18px 0px",
  7: "0px 2px 16px 1px",
  8: "0px 3px 14px 2px",
  9: "0px 3px 16px 2px",
  10: "0px 4px 18px 3px",
  11: "0px 4px 20px 3px",
  12: "0px 5px 22px 4px",
  13: "0px 5px 24px 4px",
  14: "0px 5px 26px 4px",
  15: "0px 6px 28px 5px",
  16: "0px 6px 30px 5px",
  17: "0px 6px 32px 5px",
  18: "0px 7px 34px 6px",
  19: "0px 7px 36px 6px",
  20: "0px 8px 38px 7px",
  21: "0px 8px 40px 7px",
  22: "0px 8px 42px 7px",
  23: "0px 9px 44px 8px",
  24: "0px 9px 46px 8px"
);

/**
 * The css property used for elevation. In most cases this should not be changed. It is exposed
 * as a variable for abstraction / easy use when needing to reference the property directly, for
 * example in a `will-change` rule.
 */
$elevation-property: box-shadow !default;

/**
 * The default duration value for elevation transitions.
 */
$elevation-transition-duration: 280ms !default;

/**
 * The default easing value for elevation transitions.
 */
$elevation-transition-timing-function: $animation-standard-curve-timing-function !default;

@mixin elevation($z-value) {
  @if type-of($z-value) != number or not unitless($z-value) {
    @error "$z-value must be a unitless number, but received '#{$z-value}'";
  }

  @if $z-value < 0 or $z-value > 24 {
    @error "$z-value must be between 0 and 24, but received '#{$z-value}'";
  }

  $umbra-z-value: map_get($elevation-umbra-map, $z-value);
  $penumbra-z-value: map_get($elevation-penumbra-map, $z-value);
  $ambient-z-value: map_get($elevation-ambient-map, $z-value);

  $umbra-color: rgba(black, $elevation-umbra-opacity);
  $penumbra-color: rgba(black, $elevation-penumbra-opacity);
  $ambient-color: rgba(black, $elevation-ambient-opacity);

  box-shadow:
    #{"#{$umbra-z-value} #{$umbra-color}"},
    #{"#{$penumbra-z-value} #{$penumbra-color}"},
    #{$ambient-z-value} $ambient-color;
}

@function elevation-transition-rule(
  $duration: $elevation-transition-duration,
  $easing: $elevation-transition-timing-function) {
  @return #{$elevation-property} #{$duration} #{$easing};
}

@mixin elevation-transition(
  $duration: $elevation-transition-duration,
  $easing: $elevation-transition-timing-function) {
  transition: elevation-transition-rule($duration, $easing);
  will-change: $elevation-property;
}
