.toc2 > #content, .toc2 > #footnotes {
  max-width: $docwidth - 200px;
}

#content, #footnotes {
  min-width: 360px;
  max-width: $docwidth;
}

@media only screen and (min-width: 768px) {
  .toc2 > #content {
    padding-bottom: 70vh;
  }
}

.sect1 {
  padding-top: 2.5em;
}

.sect1:last-child {
  padding-bottom: 5em;
}

#preamble {
  padding-top: 5em;
}

[id^="_"] {
  padding-top: 40px;
  margin-top: -40px;
}

h1,h2,h3,#toctitle,.sidebarblock>.content>.title,h4,h5,h6,h7,h8{
  line-height:1.6;
}

th.tableblock {
  border-bottom-color: darkgray;
}

.openblock.grouping > .content {
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.openblock.grouping > .content .card {
  flex: 1 300px;
  overflow: hidden;
  @include elevation(1);
  margin: 10px;
  @include elevation-transition;
  font-size: small;
}

.openblock.grouping > .content .card:hover {
  @include elevation(8);
}

.sidebarblock>.content>.title {
  color:$text-color;
  text-align: unset;
}

.initial > i {
    font-size: 3em;
    padding-right: 0.15em;
}

.sidebarblock.card > .content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebarblock.card > .content > hr {
    margin-top: 2em;
}

.table, .hdlist, .exampleblock, .admonitionblock, .dlist {
  overflow: auto;
}

.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
	font-size: 2rem;
	line-height: 3rem;
	font-style: italic;
	font-weight: 400;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

.audioblock > .content, .literalblock > .content, .listingblock > .content, .videoblock > .content, .exampleblock > .content {
  @include elevation(1);
  width: calc( 100% - 5px);
}

td.tableblock p {
	margin-bottom: 0
}

td.tableblock>.content {
	margin-bottom: initial
}

div>*:first-child {
	margin-top: 0
}

p.footnote {
	font-size: 1.5rem;
	line-height: 1.33333em;
	color: rgba($aged-primary-text-color, 0.4);
	max-width: 80%
}

a,
a:link,
a:visited {
	color: $aged-secondary-color;
	-webkit-transition: color .2s;
	transition: color .2s;
}

a:hover,
a:link:hover,
a:visited:hover {
	color: $aged-secondary-dark-color;
	text-decoration: underline
}

summary:hover {
  background-color: $aged-secondary-dark-color;
  color: $aged-secondary-text-dark-color
}

summary {
  background-color: $aged-secondary-color;
  color: $aged-secondary-text-color;
  padding: 1em;
  display: list-item;
  cursor: pointer;
}

details {
  margin: 1em 0;
}

details[open] > .content {
  @include elevation(1);
  padding: 0.8em;
  margin-top: -0.75em;
}

.tabbed > .content {
  display: flex;
  flex-wrap: wrap;
}

.tabbed > .content > .listingblock {
  display: none;
}

.tabbed > .content > .input {
  position: absolute;
}

.tabbed > .content > .label {
  width: 100%;
  padding: 1em 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  background: $backgorund-color;
  color: $aged-primary-color;
  box-shadow: inset 0 -1px 0 lighten($aged-primary-light-color, 20%);;

  &:hover {
    box-shadow: inset 0 -1px 0 $aged-primary-color;
  }

  &:active {
    color: $aged-secondary-color;
    box-shadow: inset 0 -1px 0 $aged-secondary-color;
  }
}

.input:focus + .label {
  box-shadow: inset 0 -1px 0 $aged-secondary-color;
  z-index: 1;
}

.input:checked + .label {
  color: $aged-secondary-color;
  box-shadow: inset 0 -1px 0 $aged-secondary-color;

  &:hover {
    box-shadow: inset 0 -1px 0 $aged-secondary-light-color;
  }
}

.tabbed > .content > .input:checked + .label + .listingblock {
  display: block;
  width: 100%;
}

.admonitionblock td.icon .icon-question:before {
  content:"\f059";color:#871452;
}

.admonitionblock td.icon .icon-good:before {
  content:"\f00c";color:#2dbf00;
}

.admonitionblock td.icon .icon-bad:before {
  content:"\f00d";color:#ff0000;
}

@media only screen and (min-width: 768px) {
  .tabbed > .content > .label {
    width: auto;
    font-weight: normal;
    padding: 5px 7px;

    &:first-of-type {
      margin-left: auto;
    }
  }

  .tabbed > .content > .listingblock {
    order: 99;
  }

  .openblock.grouping > .content .card {
    font-size: normal;
  }
}

pre > code {
  width: max-content;
  min-width: 100%;
}
