#top-header{
  font-family:"Open Sans","DejaVu Sans",sans-serif;
  background-color: $aged-primary-dark-color;
  color: $aged-primary-text-color;
  -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  padding-right: 24px;
	padding-left: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  .right{
    margin-left: auto;
  }

  img {
		margin-bottom: unset;
	}

  a:link:hover,
  a:visited:hover {
  	color: darken($aged-primary-text-color, 30%);
  	text-decoration: none
  }
}

.git {
  display:none;
}

@media only screen and (min-width: 768px) {
  .git {
    display:block;
    margin-left: 15px;
  }

  .git > div {
    margin: 4px auto;
  }

  .git a {
    text-decoration: none;
  }

  .acction {
    color: $aged-primary-text-light-color;
    background-color: $aged-primary-light-color;
    margin: 0;
    padding: 3px 5px;
    font-size: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .target {
    color: $aged-primary-text-color;
    background-color: #1976d2;
    margin: 0;
    padding: 3px 5px;
    font-size: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  a:hover > .target {
      background-color: $aged-secondary-light-color;
      color: $aged-secondary-text-light-color;
  }
}

.logo-img {
  max-width: 7em;
  max-height: 3em;
  padding: 3px;
  vertical-align: baseline;
  margin: 0;
}

.languages {
  margin-left: auto;
}

@media print {
  .languages {
    display:none;
  }
}

.languages a {
  padding: 5px;
  color: white;
  text-decoration: none;
}

.languages img {
	border-radius: 2px;
	width: 20px
}

.language:link,
.language:visited {
	color: $aged-primary-text-color
}

.language:link:hover,
.language:visited:hover {
	color: darken($aged-primary-text-color, 30%);
	text-decoration: none
}

.project-name{
  color: $aged-primary-text-color;
  text-decoration: none;
  margin-left: 1em;
  font-size: 1.5em;
}

.project-name:link,
.project-name:visited {
	font-size: 2.8rem;
	color: $aged-primary-text-color;
	text-decoration: none;
	font-weight: 400
}

a.project-name:hover, a.project-name:focus{
  color: $aged-primary-text-color;
}

@supports (display: grid) {
  @media only screen and (min-width: 768px) {
    .project-name{
      margin-left: 2em;
    }
  }

  @media only screen and (max-width: 500px) {
    .header-logo{
      display: none;
    }
  }
}

#pdf-file-download {
  position: absolute;
  top: 130px;
  right: 2em;
  @include elevation(0);

  a {
    color: #00000033;

    &:hover {
      color: #F00;
    }
  }

  &:hover {
    @include elevation(6);
  }
}

@supports (display: grid) {
  @media only screen and (min-width: 768px) {
    #pdf-file-download {
      a {
        color: #00000033;
      }
    }
  }
}
