<div id="top-header">
<% unless logo.nil? %>
  <a class="header-logo" href="<%= logo['href'] || '' %>">
    <img class="logo-img" alt="<%= logo['alt'] || '' %>" src="<%=rel_topdir%><%=logo['img']%>">
  </a>
<% end %>
<% projects.each_with_index do |project, index| -%>
  <a class="project-name" id="project-name-<%= index %>" href="<%= project['href'] || ''%>"><%= project['name'] %></a>
<% end -%>
  <div class="languages">
<% for language in languages -%>
    <a class="language" href='<%= language[:href] %>'><%= language[:name] %></a>
<% end -%>
  </div>
<% unless git.nil? -%>
  <div class="git">
    <% unless git.improve.nil? -%>
    <div class="improve">
      <a href="<%= git.improve %>">
        <span class="acction">improve</span><span class="target">this doc</span>
      </a>
    </div>
    <% end -%>
    <div class="issue">
      <a href="<%= git.issue %>">
        <span class="acction">create</span><span class="target">an issue</span>
      </a>
    </div>
  </div>
<% end -%>
<% if !pdf_file.nil? && !pdf_file.empty? -%>
  <div id="pdf-file-download">
    <a href="<%= pdf_file %>" target="_blank">
      <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true" title="Download pdf"></i>
    </a>
  </div>
<% end -%>
</div>
